
    header {
        background: url(image/central_park.jpg) 0 -200px no-repeat; /*place image as background */
        background-size: 1500px;  
        /*background-position:0 -200px*/
        /*background-repeat:no-repeat;*/
        height:400px; /* give header some height to display the background image*/
        padding-top:100px;
        padding-left:100px;
    }
    li{ 
        list-style-type:none;
        display: inline;
        padding: 0 20px; /* paadding: 0 on the top&bottom 20px on the left and right*/
    }
    li a{
        text-decoration: none;
    }
    li a:link{
        color:#000;
    }
    li a:visited{
        color:#818db3;
    }
    li a:hover{
        color:#333;
        text-decoration: underline;
    }
    li a:active{
        color:#753a30;
    }
    nav{
        background-color:rgb(255,245,238);
        height:50px;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px; 
        /* the difference of the margin and padding is outside of text box and inside of the text box for the later one*/
    }
    main {
        height: 400px ;
    }
    main h1{
        color: rgb(129,141,179);
        font-family: arial;

    }
    footer {
        height: 40px;
        background-color: rgb(129,141,179);
        text-align: center;
        padding-top: 20px;
        color: rgb(211,218,240);
    }
