
    header {
        background: url(image/central_park.jpg) 0 -200px no-repeat; /*place image as background */
        background-size: 1500px;  
        /*background-position:0 -200px*/
        /*background-repeat:no-repeat;*/
        height:400px; /* give header some height to display the background image*/
        padding-top:100px;
        padding-left:100px;
    }
    li{ 
        list-style-type:none;
        display: inline;
        padding: 0 20px; /* paadding: 0 on the top&bottom 20px on the left and right*/
    }
    li a{
        text-decoration: none;
    }
    li a:link{
        color:#000;
    }
    li a:visited{
        color:#818db3;
    }
    li a:hover{
        color:#333;
        text-decoration: underline;
    }
    li a:active{
        color:#753a30;
    }
    nav{
        background-color:rgb(255,245,238);
        height:50px;
        text-align: center;
        padding-top: 20px;
        margin-top: 10px; 
        /* the difference of the margin and padding is outside of text box and inside of the text box for the later one*/
    }
    main {
        margin: 50px;
    }
    main h1{
        color: rgb(129,141,179);
        font-family: arial;

    }
    table{
        margin-top: 35px;
    }
    table, caption, th, td {
        border: 1px solid #000
    } 
    th, td{
        width: 150px;
        height: 35px;
        text-align: center;
    }

    caption {
        text-transform:uppercase;
        font-weight: 600;
        height: 40px;
        padding-top: 15px;
        color: #753a30;

    }
    label {
        display: block;
        margin: 15px 0 0 0 ; /*top right bottom left*/
    }
    input{
        width: 300px;
    }
    input[ type="radio"]{
        width: 25px;
    }
    textarea{
        width: 300px;
    }
    input[type="submit"]{
        display: block;
        margin: 20px 0 10px 0; 
        /* also can write as (20px 0 10px) 
        margin can be negative 
        padding couldn't negative 
        */
        width: 100px;
    }   
    footer {
        height: 40px;
        background-color: rgb(129,141,179);
        text-align: center;
        padding-top: 20px;
        color: rgb(211,218,240);
    }
